body {
    background-color: #f0ece1;
    background-image: url(../imagenes/NebulaFondo.png);
    background-size: cover;
}
.container {
    display: flex;
    background-color: rgba(0, 0, 50, 0.6);
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 0.3cqw solid rgba(0, 0, 128, 0.6);
    container-type: inline-size;
}
.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2cqw;
}
.logo h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 3.5cqw;
}
.botones a {
    background-color: rgba(0, 0, 100, 0.8);
    color: white;
    border: 0.2cqw solid black;
    width: auto;
    margin: 0.7cqw;
    padding: 0.6cqw;
    font-size: 2cqw;
    transition: background-color 0.3s;
    border-radius: 10px;
    text-decoration: none;
}
.botones a:hover {
    background-color: navy;
}
.logo img {
    width: 12cqw;
    aspect-ratio: 1;
    object-fit: cover;
    margin: -1cqw;
    border-radius: 25px;
    filter: brightness(80%);
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .container div {
        display: flex;
        flex-direction: column;
    }
}